.content
    width: 100%
    padding:20px

.detail 
    mat-card-footer
        text-align: center
        padding-bottom:20px

        mat-chip-list
            display: inline-block

            mat-icon
                margin-left:10px

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary
    background-color: #379235 !important


mat-card
    margin-bottom:30px

.new-offer
    form
        width:100%
        
        mat-form-field
            width:100%


.in-stock
    padding-left:17px
    padding-bottom:5px
    span
        display:inline-block
        margin-top:-25px
        margin-left:5px
    mat-icon
        display:inline-block
