<div class="content">
    <div class="row">
        <div class="col-md-3">
            <mat-card>
                <mat-card-title>
                    <span>Titulo 1</span>
                </mat-card-title>
                <mat-card-subtitle>Banheiros - R$ 10,00</mat-card-subtitle>
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at nunc euismod, lacinia dui sed, commodo felis. Phasellus rutrum maximus ornare. Ut in gravida diam. Quisque porttitor dui erat, quis finibus diam feugiat vel. Pellentesque porttitor arcu nec purus convallis condimentum. Ut pellentesque vitae libero sed varius. Proin placerat odio ullamcorper urna aliquam tempus. Phasellus vitae vehicula neque. Phasellus aliquam interdum tortor, sed maximus justo vulputate ac. Donec ac vulputate magna, sit amet vehicula odio. Nam scelerisque bibendum odio, vel vulputate turpis cursus ut. Donec vel imperdiet eros, eget volutpat sem. Maecenas placerat ante consectetur, commodo mi ac, placerat risus. Phasellus pharetra congue augue non rhoncus. Proin convallis nisi sit amet nulla porta, quis aliquam lacus luctus. 
                    </p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip color="primary" selected>123Vendido para Fulano <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_bag</mat-icon></mat-chip>
                    </mat-chip-list>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-9 list-offers">
            <div class="list-offers">
                <mat-card>
                    <mat-card-title>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_bag</mat-icon><span>Fulano fez uma oferta de R$ 10,00</span>
                    </mat-card-title>
                    <mat-card-content>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at nunc euismod, lacinia dui sed, commodo felis.</p>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-title>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_bag</mat-icon><span>Beltrano fez uma oferta de R$ 10,00</span>
                    </mat-card-title>
                    <mat-card-content>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at nunc euismod, lacinia dui sed, commodo felis.</p>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-title>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_bag</mat-icon><span>Ciclano fez uma oferta de R$ 10,00</span>
                    </mat-card-title>
                    <mat-card-content>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at nunc euismod, lacinia dui sed, commodo felis.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            
            <div class="new-offer">
                <mat-card>
                    <mat-card-title>
                        Realizar uma nova oferta
                    </mat-card-title>
                    <mat-card-content>
                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <p>
                                <mat-form-field>
                                    <textarea matInput placeholder="Descreva sua oferta. Ex: produto usado ou novo; com defeito ou não, etc." formControlName="description"></textarea>
                                </mat-form-field>
                            </p>

                            <p>
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Valor em R$" formControlName="amount" />
                                </mat-form-field>
                            </p>
                    
                            <p *ngIf="error" class="error">
                                {{ error }}
                            </p>
                    
                            <div class="button">
                                <button type="submit" mat-button>Enviar oferta</button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>