<div class="wishlist-content">
    <h1>Minhas listas de desejos</h1>
    <mat-card>
        <mat-card-title>
            <span>Titulo 1</span>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" selected>123Vendido para Fulano <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_bag</mat-icon></mat-chip>
            </mat-chip-list>
        </mat-card-title>
        <mat-card-subtitle>Banheiros - R$ 10,00</mat-card-subtitle>
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at nunc euismod, lacinia dui sed, commodo felis. Phasellus rutrum maximus ornare. Ut in gravida diam. Quisque porttitor dui erat, quis finibus diam feugiat vel. Pellentesque porttitor arcu nec purus convallis condimentum. Ut pellentesque vitae libero sed varius. Proin placerat odio ullamcorper urna aliquam tempus. Phasellus vitae vehicula neque. Phasellus aliquam interdum tortor, sed maximus justo vulputate ac. Donec ac vulputate magna, sit amet vehicula odio. Nam scelerisque bibendum odio, vel vulputate turpis cursus ut. Donec vel imperdiet eros, eget volutpat sem. Maecenas placerat ante consectetur, commodo mi ac, placerat risus. Phasellus pharetra congue augue non rhoncus. Proin convallis nisi sit amet nulla porta, quis aliquam lacus luctus. 
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Título 2</mat-card-title>
        <mat-card-subtitle>Banheiros - R$ 20,00</mat-card-subtitle>
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at nunc euismod, lacinia dui sed, commodo felis. Phasellus rutrum maximus ornare. Ut in gravida diam. Quisque porttitor dui erat, quis finibus diam feugiat vel. Pellentesque porttitor arcu nec purus convallis condimentum. Ut pellentesque vitae libero sed varius. Proin placerat odio ullamcorper urna aliquam tempus. Phasellus vitae vehicula neque. Phasellus aliquam interdum tortor, sed maximus justo vulputate ac. Donec ac vulputate magna, sit amet vehicula odio. Nam scelerisque bibendum odio, vel vulputate turpis cursus ut. Donec vel imperdiet eros, eget volutpat sem. Maecenas placerat ante consectetur, commodo mi ac, placerat risus. Phasellus pharetra congue augue non rhoncus. Proin convallis nisi sit amet nulla porta, quis aliquam lacus luctus. 
            </p>
        </mat-card-content>
    </mat-card>

</div>